#container{
	outline: 1px solid;
	width: 600px;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	top: 10px;
}

.cell{
	width: 30px;
	height: 30px;

	margin: 0;
	padding: 0;
	float: left;
	background-color: #fff;
}

body{
	text-align: center;
}

input{
	padding: 10px;
	border: none;
	font-size: 13pt;
}